@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply m-0 p-0 outline-none box-border;
  }
  ul,
  ol,
  li {
    @apply list-none;
  }
  a {
    @apply inline-block no-underline;
  }
  img {
    @apply align-middle;
  }
}
@layer components {
  .icon_part {
    z-index: 1;
  }
  .icon_part::after {
    z-index: -1;
  }
  .iconStroke path {
    stroke-width: 52px;
  }
  .list__item::marker {
    color: #ffaf0f;
  }
}
